.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/******************************全部样式*****************************************/
/*修改以及清除所有相关默认样式*/
/*清空默认边距*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

.box{
  font-size:12px;
  color: #313131;
  display: flex;
  width: 100%;
}

.box .content{
  width:100%;
  padding:0 20px;
}

/******************************hearder样式*****************************************/
 .content .header {
  display: inline-flex;
  flex-wrap:nowrap;
  justify-content: space-between;
  width:100%;
  margin: 20px 0 0 26px;
} 

.content .header .headerright {
  justify-content:  flex-end;
}

/*左header日期文字*/
.content .header .headerleft span .text{
  display:inline-block;
  height: 39px; 
  line-height:39px;
  width: 16px;
}

/*左header日期输入框*/
.content .header .headerleft .ant-input {
  width: 240px;
  height: 32px; 
  margin: 0px 0 0 6px;
  padding: 0;
}

/*左header按钮*/
.content .header .headerleft button {
  height: 32px;
  width: 64px; 
  margin: 0 0 0 19px;
}

/*左header按钮文字*/
.content .header .headerleft button span {
  height: 14px;
  width: 34px;
  font-size: 14px;
  margin: 9px, 0, 0, 15px;
  line-height:32px;
}

/*右header按钮*/
.content .header .headerright button {
  height: 32px;
  width: 64px; 
  margin: 0 25px 0 0;
}

/*右header按钮文字*/
.content .header .headerright button span {
  height: 12px;
  width: 33px;
  font-size: 14px; 
  margin: 10px, 0, 0, 10px;
  line-height:32px;
}

/******************************table样式*****************************************/
.content .table {
  margin: 18px 0 0 27px;
}